name: Docker Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker image
        run: |
          docker build -t my-docker-image .

      - name: Push Docker image
        run: |
          docker tag my-docker-image my-repo/my-docker-image:latest
          docker push my-repo/my-docker-image:latest
