name: Build Docker Image on Main Branch Push

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Build Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: false
          tags: test-image:latest
          outputs: type=docker,dest=/tmp/image.tar
      
      - name: Load image and run
        run: |
          docker load --input /tmp/image.tar
          docker run --rm test-image:latest
